<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <title>Proyecto Integrador - Desarrollo Web Nivel 2 </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Estilos CSS -->
    <link rel="stylesheet" href="estilos.css">

    <!-- Bootstrap CSS -->    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">  
  </head>

  <body>
    <header id="leer-mas">    
    </header>

    <section id="bullying-leer-mas"> 
      <div class="container-fluid">

        <div class="row pt-5 pb-3 ml-4 mr-4">
          <div class="col">  
            <img  class="float-left mr-5" src="img/virus.jpg" alt="Descripción de la imagen" />
            <h3 class="text-info pb-2">Formas en las que se produce el Ciberbullying:</h3>           

            <ul>
              <li><strong>Hostigamiento</strong>: envío de imágenes denigrantes, seguimiento a través de software espía, envío de virus informáticos, entre otras manifestaciones de hostigamiento.</li>
              <li><strong>Exclusión</strong>: denegación a la víctima del acceso a foros, chats, plataformas sociales o grupos.</li>
              <li><strong>Manipulación</strong>: uso de información de redes sociales para modificarla y difundirla fuera del contexto en el que se la encontró, acceso con la clave de otra persona a un perfil o usuario y la realización de acciones que puedan perjudicar en su nombre, etc.</li>
            </ul>
          </div><!-- End of col -->
        </div><!-- End of row -->
      </div><!-- End of container -->
    </section><!-- End of section -->


    <section> 
      <div class="container-fluid">
        <div class="row pt-2 pb-1 ml-4 mr-4">
          <div class="col">

            <img class="float-right ml-5" src="img/acosador.jpg" alt="Descripción de la imagen" />

            <h3 class="text-info pb-2">Actores que intervienen en el Ciberbullying:</h3>

            <ul>
              <li><strong>El acosador</strong>: persona que manifiesta su poder humillando a otro a través de medios electrónicos.</li>
              <li><strong>La víctima</strong>: es quien sufre la humillación y/o discriminación.</li>
              <li><strong>Los espectadores/testigos</strong>: son quienes ven la agresión desde fuera. La violencia que ejerce el agresor sobre la víctima tiene en los espectadores un efecto que en numerosas ocasiones llega incluso a producir un contagio social que hace que se impliquen directa o indirectamente con la agresión. </li>              
            </ul>

          </div><!-- End of col -->
        </div><!-- End of row -->
      </div><!-- End of container -->
    </section><!-- End of section -->

    <section> 
      <div class="container-fluid">
        <div class="row pt-3 pb-5 ml-4 mr-4">
          <div class="col">
            <img class="float-left mr-5" src="img/seguridad.jpg" alt="Descripción de la imagen" />
            <h3 class="text-info pb-2">Formas de evitarlo:</h3>    

            <p>Recomendaciones básicas:</p>
            <ul>
              <li>No mostrar, grabar, enviar o almacenar imágenes íntimas en ningún caso, suelen ser la clave del chantaje.</li>
              <li>Mantener la computadora y el Smartphone libres de software malicioso para evitar el robo de claves personales, ficheros o informaciones comprometedoras.</li>
              <li>Cubrir la <a href="http://www.cuidadoconlawebcam.com/index.shtml" target="_blank">webcam</a> siempre que no se utilice.</li>
              <li>Conocer en persona a aquellos con quienes estamos vinculándonos en red.</li>
              <li>No aceptar personas con perfiles dudosos.</li>
              <li>Ante la menor duda que nos genere la situación consultar con un adulto de nuestra confianza.</li>
              <li>Si ya se está sufriendo el acoso lo más aconsejable es guardar pruebas del mismo, pedir ayuda de manera inmediata y nunca ceder al chantaje.</li>	
            </ul>

          </div><!-- End of col -->
        </div><!-- End of row -->
      </div><!-- End of container -->
    </section><!-- End of section -->

    <section id="consecuencias" class="bg-info text-white"> 
      <div class="container-fluid">
        <div class="row pt-3 pb-5 ml-4 mr-4">
          <div class="col">

            <h3 class="text-white pb-2">Consecuencias:</h3>
            <p>Las consecuencias, además de serias, son graves quien lo sufre  y su entorno:</p>
            <ul>
              <li><strong>Daños psicológicos en la víctima</strong>: depresión, descenso de la autoestima, desconfianza, cambios de humor repentinos y bruscos, bajo rendimiento académico, aislamiento, alteraciones del sueño y de la alimentación, ideas e intentos de suicidio, pérdida de lazos sociales, abulia, etc.</li>
              <li><strong>Daños físicos en la víctima</strong>: heridas, traumatismos o lesiones derivadas de los actos sexuales denigratorios que el ciberacosador lleva a cabo sobre la víctima violaciones o de la puesta en acto del acoso en red, vejaciones, autolesiones, consecuencias físicas de las alteraciones del sueño y de la alimentación, etc.</li>
              <li><strong>Daños a nivel familiar</strong>: falta o deterioro de las relaciones y de la comunicación a nivel familiar, chantajes a la propia familia por parte del acosador, falta de confianza en los vínculos familiares, pérdida o alteración de la interacción con los integrantes de la familia, etc.</li>
            </ul>
            <br>
            <a id="volver" href="index.html" type="button" class="btn btn-white">&#171;	Volver</a>

          </div><!-- End of col -->
        </div><!-- End of row -->
      </div><!-- End of container -->
    </section><!-- End of section -->

    <footer class="pt-5 pb-4 pl-4">
      <div class="container-fluid">
        <div class="row">
          <div class="col">
            <p>Copyright © 2018 - Desarrollado por Damian Debortoli</p>
          </div><!-- end of col -->
        </div><!-- End of row -->
      </div><!-- End of container -->
    </footer><!-- End of footer -->



  </body>
</html>
